{% extends 'user/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
<div class="row">
	<div class="col-md-4">
		<h2><i> Welcome mister {{ user.username }} sir</i></h2>
		<hr>
		<ul>
			<li>Latest update</li>
			<li>New informations</li>
			<li>Help</li>
			<li>About</li>
		</ul>

	</div>
	<div class="col-md-4">
		<img class="img-responsive img-rounded" src="{{ user.userprofile.pimg.url }}" style="height: 300px;width: 300px;">
		<h3>{{ user.username }}</h3>
		<h3>{{ user.email }}</h3>
	</div>

	<div class="col-md-4">
<div class="card">
	<div class="card-body">
	<form method="post" class="form-group" enctype="multipart/form-data">
		{% csrf_token %}
		{{ u|crispy}}
		{{ p|crispy}}
		<input type="submit" name="Login" class="btn btn-primary" value="Update_Profile" >
	</form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}