{% extends 'user/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
	<div class="col-md-8">
		
		<h2><i> Welcome my web site</i></h2>
		<hr>
		<ul>
			<li>If you have an Account than Login </li>
			<li>Or</li>
			<li>Create new Account </li>
			<li>Help</li>
			<li>About</li>
		</ul>


	</div>
	<div class="col-md-offset-8">
<div class="card">
	<div class="card-body">
	<form method="post" class="form-group">
		{% csrf_token %}
		{{form|crispy}}
		<input type="submit" name="Login" class="btn btn-primary" value="Login" >&nbsp<a class="btn btn-outline btn-success" href="{% url 'register' %}">Create New Account</a>
	</form>
</div>
</div>
</div>
</div> 
{% endblock %}